JJ <ssdajoker@gmail.com> Linus Torvalds <linus@kernel.org>
JJ <ssdajoker@gmail.com> Linus Torvalds <torvalds@linux-foundation.org>
JJ <ssdajoker@gmail.com> Linus Torvalds <torvalds@kernel.org>
JJ <ssdajoker@gmail.com> Linus <linus@kernel.org>
